<hello name="{{ name }}"></hello>
<h2>Angular Basic</h2>
<p>
  Iniciando proyecto de angular con stackblitzfmerkmekrmflrmmflermkfmkrmrkmerklmfkrmelkfmlerkfmekrmfrkmlmfkrlemfkremflrkfmelkmeklmfkrmfkermfkmekrmfelkmfe
  Iniciando proyecto de angular con stackblitzfmerkmekrmflrmmflermkfmkrmrkmerklmfkrmelkfmlerkfmekrmfrkmlmfkrlemfkremflrkfmelkmeklmfkrmfkermfkmekrmfelkmfe
  Iniciando proyecto de angular con stackblitzfmerkmekrmflrmmflermkfmkrmrkmerklmfkrmelkfmlerkfmekrmfrkmlmfkrlemfkremflrkfmelkmeklmfkrmfkermfkmekrmfelkmfe
  Iniciando proyecto de angular con stackblitzfmerkmekrmflrmmflermkfmkrmrkmerklmfkrmelkfmlerkfmekrmfrkmlmfkrlemfkremflrkfmelkmeklmfkrmfkermfkmekrmfelkmfe
  Iniciando proyecto de angular con stackblitzfmerkmekrmflrmmflermkfmkrmrkmerklmfkrmelkfmlerkfmekrmfrkmlmfkrlemfkremflrkfmelkmeklmfkrmfkermfkmekrmfelkmfe
  Iniciando proyecto de angular con stackblitzfmerkmekrmflrmmflermkfmkrmrkmerklmfkrmelkfmlerkfmekrmfrkmlmfkrlemfkremflrkfmelkmeklmfkrmfkermfkmekrmfelkmfe
</p>